body {
    margin: 0;
    padding: 0;
    background-image: url("/images/a.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 50px;
}

.login-form h2 {
    text-align: center;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.additional-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-links a {
    color: green;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}
